
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  :root {
    --primary-color: #193570;
    --secondary-color: white;
  }

  body{
    background: linear-gradient(rgba(190, 93, 255, 0.3), rgb(134, 201, 236));
  }
    /* apply styles to <header> */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }


  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }




  /* Hero Style Start */

  .hero{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: flex-start;
    position: relative;
    background-color: lightblue;
} */


.image {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

.subtitles{ 
    text-align: right;
    display: flex;
    padding-left: 10%;
    margin: 20% 0% 0% 0%;
    padding: inherit;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--primary-color);
}



/* body */
.body{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: baseline;
  margin: 0px;
  color:var(--primary-color);
  flex:1;
}

.body h2{
 font-size: 30px;
 width: 20px;
 text-align: right;
 align-items: flex-end;
 flex: auto;
 padding-right: 10px;
 margin-left: 50px;
}

.body address{
  padding: 20px;
  margin: 10px;
  border-left: 2px solid black;
  width: 75%;
  display: flex;
  position: relative;
}




/* About Me */
.aboutme{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: baseline;
    margin: 0px;
    color:var(--primary-color);
    flex:1;
  }

  .about-det{
    margin: 20px;
    padding-left: 20px;
    border-left: 2px solid black;
    width: 70%;
    display: flex;
    position: relative;

}
  /* Work */
.grid-container{
  margin: 20px;
  padding-left: 20px;
  border-left: 2px solid black;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-flow: dense;
}


.grid-item{
  margin:5px;
  padding:40px 40px 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border: 5px solid rgb(187, 225, 240);
  display:block;
}

.grid-item a h3{
 background-color: rgb(187, 225, 240);
 font-size: 20px;
 font-style: normal;
 text-decoration: none;
}

.grid-item a h4{
  background-color: rgb(187, 225, 240);
  font-size: 15px;
  font-weight: lighter;
  margin: 0%;
  font-style: normal;
  text-decoration: none;
}

a:link{
  color: inherit;
  text-decoration: none;
}

.item1{
background-image: url("./runbuddy.png")  ;
opacity: 0.6;
background-size: cover;
grid-column: 1/ span 2;
grid-row: 1/ span 2;
}

.item2{
background-image: url("./LEDwall.png") ;
background-size: cover;
opacity: 0.6;
}

.item3{
  background-image: url("./CodeRefractor.png") ;
  background-size: cover;
  opacity: 0.6;
}

.item4{
  background-image: url("./pastelpuzzles.png") ;
  background-size: cover;
  opacity: 0.6;
}

.item5{
  background-image: url("./petsrus.png") ;
  background-size: cover;
  opacity: 0.6;
}

.grid-item:hover {
  opacity: 1;
  
}


  /* Contact Me */

  .con{
    padding-left: 20px;
    margin: 20px;
    border-left: 2px solid black;
    width: 70%;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: space-around;
    
  }

  .con1,.con2,.con3{
    padding: 20px 10px;
    border-bottom: 2px solid black;
    padding: 20px ;
    margin: 20px;
  }


 
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }


}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .subtitles{
    margin: 0px;
  }
  section {
    padding: 30px 15px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
 
  .item1{
    grid-column: 1;
    grid-row: 1;
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .hero{
    flex-direction: column;
    align-items: center;
  }

  .body h2{
    text-align: center;
    font-size: 25px;
  }

  .about-det, .grid-container, .con {
    border-left: none;
    border-top: 2px solid black;
  }

 .con{
   flex-direction: column;

 }

 .con1,.con2,.con3{
  border-bottom: none;
  padding: 0px;
  margin: 10px;
}


}

